<div id="page-content">
<h1 class="text-center mt-4"> All Articles </h1>
  <div class= "container"> 
    <% @articles.each do |article| %>
      <div class = "row justify-content-md-center"> 
        <div class= "col-8 mt-4">
          <div class="card text-center shadow-lg mb-5 bg-white rounded">
            <div class="card-header font-italic"> 
              By Hamdi Guelleh
            </div>
            <div class="card-body">
              <h5 class="card-title"><%= article.title %></h5>
              <p class="card-text"><%=article.description%></p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
            <div class="card-footer text-muted">
              2 days ago
            </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
<p>
<%= link_to 'Create New Article', new_article_path %> <br/>
</p>
<p>
<%= link_to 'Home', root_path %> <br/>
<%= link_to 'About', about_path%>
</p>

